/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-root {
  flex-grow: 1;
  padding: 10px;
}

footer{
  color: gray;
  font-size: 0.8rem;
  border-top: 1px solid lightgray;
}
